
@media only screen and (max-width: 768px) {
  #inputEmail3, #inputPassword3 {
    width: 90vw;
  }
}
@media only screen and (min-width: 768px) {
  #inputEmail3, #inputPassword3 {
    width: 50vw;
  }
}
form {
  a {
    text-decoration: none;
    color: black;
  }
}
.span_deco:hover {
  cursor:pointer;
}
