/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}
// breadcrumb styles
.breadcrumb {
  display: flex;
  width: 100vw;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding-left: 1vw;
}
.breadcrumb-item a {
  text-decoration-line: none;
  color: black;
  opacity: .8;
}
