<div class="container-fluid d-flex border-top">
  <div class="container content d-flex py-4">
    <!-- Name -->
    <div class="footer_info container d-flex justify-content-lg-start align-items-center">
      <span class="me-3">Best Web Agency</span>
      <span>© BWA Ltd. 2022</span>
    </div>
    <!-- Social media icons -->
    <div class="some container d-flex justify-content-lg-end align-items-center">
        <span>Instagram</span>
        <span>Facebook</span>
        <span>LinkedIn</span>
    </div>
  </div>
</div>
