<div class="container-fluid d-flex border-top">
  <div class="container content d-flex py-lg-3">
    <!-- Social media icons -->
    <div class="some container d-flex justify-content-lg-start ">
        <a href="https://www.instagram.com">
          <img class="px-lg-2" src="../../../assets/icons/instagram.svg" alt="instagram">
        </a>
        <a href="https://facebook.com">
          <img class="px-lg-2" src="../../../assets/icons/facebook.svg" alt="facebook">
        </a>
        <a href="https://linkedin.com">
          <img class="px-lg-2" src="../../../assets/icons/linkedin.svg" alt="linkedin">
        </a>
    </div>
    <!-- Name -->
    <div class="footer_info container d-flex justify-content-lg-end align-items-center">
      <span class="me-3">Best Web Agency</span>
      <span>© BWA Ltd. 2022</span>
    </div>
  </div>
</div>
