<body>
  <!-- <div class="flex-container"> </div> -->
  <div class="container-fluid me-auto d-flex flex-column justify-content-center position-relative">
    <div class="container banner_container ">
      <div class=" header_text">
        <h1 class="mb-5 text-center"><strong> The best design from
          <br>Dezignest</strong></h1>
        <h5 class=" text-center">Shop over 50,000 independent brands from one place.</h5>
      </div>
      <div class="btn_signup">
        <button routerLink="/account/register" class="btn btn-lg btn-light">Sign Up to Shop</button>
      </div>
      <div class="btn_applybrand">
        <button routerLink="/apply" class="btn btn-lg  btn-outline-light">Apply as Brand</button>
      </div>
    </div>
  </div>
</body>
