<app-header-new></app-header-new>
<div class="container-fluid banner_container d-flex flex-column align-items-center pb-4">
  <!-- Breadcrumb  -->
  <div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{categoryName}}</li>
      </ol>
    </nav>
  </div>
  <!-- Information banner -->
  <ng-container  >
    <div class="info_banner_container ">
      <div *ngIf="hasProducts" class="d-flex flex-column align-items-center">
        <h4>See {{categoryName}} staff</h4>
        <p class="text">Shop thousands of unique wholesale brands. Free returns on all opening orders.</p>
      </div>
      <div *ngIf="!hasProducts" class="info_banner d-flex justify-content-center align-items-center">
        <h4>{{categoryName}} has no products yet</h4>
      </div>
    </div>
    <!-- product grid -->
    <div class="container-md d-grid">
      <div class="row row-cols-2 justify-content-start py-3">
        <div *ngFor="let product of products" [routerLink]="['/products', product.id]" class="card col d-flex px-0 border border-white" style="width: 10rem;">
          <img [src]="product.imageUrl" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column align-items-start p-1">
            <p class="title m-0">{{product.name}}</p>
            <!-- <p class="card-text">{{product.description}}</p> -->
            <div class="card_lower d-flex flex-column">
              <p class="m-0">{{product.brand}}</p>
              <p class="card-text"><strong>{{product.price | currency: 'EUR' }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>



<!-- <app-new></app-new> -->
<app-footer></app-footer>
