.row {
  grid-gap: 1.8rem;
}
// .card {
//   // height: 200px;
// }
.card-img-top {
  width: auto;
  height: 134px;
  object-fit: cover;
}
.title {
  display: block;
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card:hover {
  cursor: pointer;
}
.info_banner {
  height: 80vh;
}
.banner_container {
  min-height:78vh;
}
