<app-header></app-header>
<main>
  <!--MAIN CONTENT START-->
   <!--BANNER SECTION-->
   <div class="banner">
     <div class="banner_logo">
       <img src="../../../assets/icons/designer.svg" alt="">
     </div>
     <div class="banner_info d-flex flex-column">
       <h1>BEST WEB AGENCY</h1>
       <p>We offer best UI/UX on the market</p>
       <button class="btn btn-lg btn-dark w-50" routerLink="/contact">Contact Us</button>
     </div>
   </div>
  <!--BANNER END-->

  <!-- WHY US BANNER -->
  <div class="container-fluid what_We_Do d-flex justify-content-center ">
    <div class="container">
      <div class="banner_title">
        <h2>What makes us different from every other web design & development agency?</h2>
      </div>
      <div class="content row">
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We're specialized.</span>
          </div>
          <div class="content_card_body">
            <p>We're not generalists, we only offer you what we do best: Branded assets, UI/UX design, full-stack development, and conversion optimization.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We focus on results.</span>
          </div>
          <div class="content_card_body">
            <p>We care about the impact our work has on your business or organization—not how it looks in our portfolio or in an award showcase.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We're responsive.</span>
          </div>
          <div class="content_card_body">
            <p>We limit the number of clients we take on each year to ensure each one has an outstanding customer experience. Expect responses in hours—not days.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We go the extra mile.</span>
          </div>
          <div class="content_card_body">
            <p>We view our engagements as relationships—not vendor agreements. In addition to what we produce, we also educate our customers on digital best practices along the way.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- WHAT WE DO -->
  <div class="container-fluid services_banner">
    <div class="container">

    </div>
  </div>
</main>
<app-footer></app-footer>
