<app-header></app-header>
<main>
  <!--MAIN CONTENT START-->
   <!--BANNER SECTION-->
   <div class="banner">
     <div class="banner_logo">
       <img src="../../../assets/icons/designer.svg" alt="">
     </div>
     <div class="banner_info d-flex flex-column">
       <h1>Web Development Agency</h1>
       <p>We offer best UI/UX on the market</p>
       <button class="btn btn-lg btn-dark w-50" routerLink="/contact">Contact Us</button>
     </div>
   </div>
  <!--BANNER END-->

  <!-- WHAT WE DO -->
  <div class="container-fluid services_banner">
    <!-- Larger then 576px display -->
    <div class="container services_banner_container">
      <div class="service_title">
        <h1><strong>SERVICES</strong></h1>
      </div>
      <div class="services_container">
        <div class="services_names">
          <div class="services">
            <button id="web" class="btn" (click)="onclick('web')">
              <h3>Web Development Services</h3>
            </button>
            <button id="design" class="btn" (click)="onclick('design')">
              <h3>Design Services</h3>
            </button>
            <button id="out" class="btn" (click)="onclick('out')">
              <h3>Outsource</h3>
            </button>
            <button id="digi" class="btn" (click)="onclick('digi')">
              <h3>Digital Marketing</h3>
            </button>
            <button id="seo" class="btn" (click)="onclick('seo')">
              <h3>SEO Services</h3>
            </button>
            <button id="business" class="btn" (click)="onclick('business')">
              <h3>Business Package</h3>
            </button>
          </div>
        </div>
        <div class="services_info_container">
          <ul *ngFor="let item of myArray">
            <li>{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Smaller then 577px display -->
    <div class="container services_banner_small" >
      <div class="service_title mb-4">
        <h1><strong>SERVICES</strong></h1>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h5>Web Development Services</h5>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="services_info_container">
                <ul *ngFor="let item of webDevServ">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5>Design Services</h5>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="services_info_container">
                <ul *ngFor="let item of designServ">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5>Outsource</h5>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="services_info_container">
                <ul *ngFor="let item of outsource">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h5>Digital Marketing</h5>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="services_info_container">
                <ul *ngFor="let item of digiMark">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <h5>SEO Services</h5>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="services_info_container">
                <ul *ngFor="let item of seoServ">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <h5>Business Package</h5>
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="services_info_container">
                <ul *ngFor="let item of busiPackage">
                  <li>{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- WHY US BANNER -->
  <div class="container-fluid what_We_Do d-flex justify-content-center ">
    <div class="container">
      <div class="banner_title">
        <h2>What makes us different from every other web design & development agency?</h2>
      </div>
      <div class="content row">
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We're specialized.</span>
          </div>
          <div class="content_card_body">
            <p>We're not generalists, we only offer you what we do best: Branded assets, UI/UX design, full-stack development, and conversion optimization.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We focus on results.</span>
          </div>
          <div class="content_card_body">
            <p>We care about the impact our work has on your business or organization—not how it looks in our portfolio or in an award showcase.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We're responsive.</span>
          </div>
          <div class="content_card_body">
            <p>We limit the number of clients we take on each year to ensure each one has an outstanding customer experience. Expect responses in hours—not days.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 content_cards">
          <div class="content_card_header">
            <span>We go the extra mile.</span>
          </div>
          <div class="content_card_body">
            <p>We view our engagements as relationships—not vendor agreements. In addition to what we produce, we also educate our customers on digital best practices along the way.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-contact-form></app-contact-form>
</main>
<app-footer></app-footer>
