/*BANNER STYLES*/
.banner {
  height: 100vh;
  width: 100%;
  // background-image: linear-gradient(135deg ,blue, lightblue 60%);
  // background-image: linear-gradient(135deg ,#87CEFA, #DC143C);
  background-color: rgba(220,20,60,.8);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  .banner_logo {
    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }
}

.banner_info h1 {
  // color: rgb(33, 37, 41);
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  text-align: start;
  // text-shadow: -2px 2px 15px black;
}

.banner_info p {
  // text-shadow: -1px 1px 15px black;
  // color: #262626;
  // color: rgb(33, 37, 41);
  color: white;

  text-align: start;
  font-size: 22px;
  font-weight: 700;
}

.banner_info a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #262626;
  padding: 10px 30px;
  margin-top: 10px;
}
// Black banner container
.what_We_Do {
  // background-color: rgb(33, 37, 41);
  // background-color: black;

  background-color: rgba(220,20,60,.8);
  color: white;
  .container {
    padding: 10vh 0 10vh;
  }
}
// WHAT WE DO
.services_banner {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
  // Might delete later
  background-color: white;
}
.services_banner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service_title {
  h1 {
    margin: 0.5vh 17px 1vh;
  }
}
.services_container {
  display: flex;
  flex-direction: row;
}
.services_names {
  .services {
    display: flex;
    width: 35vw;
    max-width: 600px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    h3 {
      margin: 2vh 6px 2vh;
      padding: 1vh 0 1vh;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
  }
}
.services_info_container {
  // border: 3px solid black;
  display: flex;
  justify-content: start;
  width: 65vw;
  margin-left: 10vw;
  margin-top: 2vh;
  ul {
    li {
      padding: 10px 0 10px;
    }
  }
}
@media only screen and (min-width: 577px) {
  .services_banner_small {
    display: none;
  }
  .services_banner_container {
    display: flex;
  }
}
@media only screen and (max-width: 576px) {
  .services_banner_small {
    height: auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .accordion-item {
      min-width: 90vw;
      margin: 2vh 0 2vh;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
  }
  .services_banner_container {
    display: none;
  }
}

// "Why us" Banner container properties
.content {
  display: flex;
  justify-content: space-between;
}
.banner_title {
  display: flex;
  justify-content: center;
  text-align: center;
  h2 {
    font-weight: 800;
  }
  padding-bottom: 10vh;
}
.content_card_header {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 12px;
}

@media only screen and (min-width: 577px) {
  .banner {
    display: flex;
    flex-direction: row;
  }
  .content {
    flex-direction: row;
  }
  .banner_title{
    h2 {
      width: 50vw;
    }
  }
  .content_card_header {
    overflow-wrap: break-word;
  }
  .content_card_body {
    padding-right: 2vw;
  }
}
@media only screen and (max-width: 576px) {
  .banner_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    h1 {
      text-align: center;
    }
    p {
      padding-top: 48px;
    }
  }
  .content {
    flex-direction: column;
  }
  .content_card_body {
    padding-right: 10vw;
  }
}

