// Welcome Banner
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.banner {
  display: flex;
  align-items: center;
  height: 75vh;
  background-color: rgba(220,20,60,.8);
}
.banner_content {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  .banner_logo {
    display: flex;
    img {
      width: 100%;
      max-width: 800px;
      height: auto;
    }
  }
  .banner_info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
}
.slide-top {
  animation: 1s slide-top;

}
@keyframes slide-top {
  from {
    margin-top: -150vh;
  }

  to {
      margin-top: 0%;
  }
}
// MEDIA QUERIES
@media only screen and (max-width: 576px) {
  .banner_content {
    flex-direction: column;
  }
}
@media only screen and (min-width:577px) {
  .banner_content {
    height: 50%;
  }
}
// END OF Welcome Banner

// BACKGROUND TEXT TEST


.background_text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment:scroll;
  span {
    // font-family: 'Staatliches', cursive;
    position: fixed;
    top:33vh;
    font-size: 13vw;
  }
}
.hide {
  opacity: 0;
}
.show {
  opacity: .2;
}

// Styles for "Work Done" Banner
.work_done_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}

// TEST FOR DESIGN - TO BE DELETED LATER
.test_for_color {
  background-color: rgba(220,20,60,.8);
}
.work_done {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  max-height: fit-content;
  margin: 10px;

}
.work_img {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 0 30px black;
  }
}
.work_main {
  display: flex;
}
.work_info {
  width: 75%;
  color: black;
}
.work_tags {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      padding: 5px 10px 5px;
      margin: .5vw;
      /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    }
  }
}
@media only screen and (max-width: 576px) {
  .work_info {
    width: fit-content;
  }
  .work_main {
    flex-direction: column;
  }
  .work_tags {
    ul {
      padding-left: 0;
    }
  }
}
// END OF Styles for "Work Done" Banner

/*MEDIA QUERY FOR BUTTONS BELOW 1250px*/

@media only screen and (max-width: 1250px) {
  .work_tags {
    display: none;
  }
}


/*NB! FOR TESTING PURPOSES*/
/*Button STYLES*/

/*WORK 1 TEST BUTTON*/
/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


/*WORK 2 TEST BUTTON*/
/* CSS */
.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

/*WORK 3 TEST BUTTON*/
/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
