// Welcome Banner
.testDiv {
  position: relative;
}
.banner {
  display: flex;
  height: 75vh;
  background-color: rgba(220,20,60,.8);
}
.banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  .banner_logo {
    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }
  .banner_info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
}
// MEDIA QUERIES
@media only screen and (max-width: 576px) {
  .banner_content {
    flex-direction: column;
  }
}
// END OF Welcome Banner

// BACKGROUND TEXT TEST

.background_text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment:scroll;
  opacity: .2;
  span {
    position: fixed;
    top:33vh;
    font-size: 13vw;
  }
}
.hide {
  opacity: 0;
}
.show {
  opacity: .5;
}

// Styles for "Work Done" Banner
.work_done_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}
// TEST FOR DESIGN - TO BE DELETED LATER
.test_for_color {
  background-color: rgba(220,20,60,.8);
}
.work_done {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  max-height: fit-content;
  margin: 10px;

}
.work_img {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 0 30px black;
  }
}
.work_main {
  display: flex;
}
.work_info {
  width: 75%;
  color: black;
}
.work_tags {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      padding: 5px 10px 5px;
      margin: .5vw;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
@media only screen and (max-width: 576px) {
  .work_info {
    width: fit-content;
  }
  .work_main {
    flex-direction: column;
  }
  .work_tags {
    ul {
      padding-left: 0;
    }
  }
}
// END OF Styles for "Work Done" Banner
