<app-header></app-header>
<!-- Welcome Banner -->
<div class="container-fluid banner">
  <div class="container banner_content">
    <div class="banner_logo">
      <img src="../../../assets/icons/Team success _Isometric.svg" alt="">
    </div>
    <div class="banner_info">
      <h3>We are proud of our Work!</h3>
    </div>
  </div>
</div>
<!-- END of Welcome Banner -->
<div class="container-fluid work_done_background">
  <div class="container d-flex work_done">
    <div class="container work_img ">
      <img src="../../../assets/thumb01.jpeg" alt="">
    </div>
    <div class="container work_main my-5">
      <div class="work_info">
        <div class="work_title">
          <H3> <strong>TITLE</strong></H3>
        </div>
        <div class="work_decr">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor corrupti magni alias excepturi sequi porro tenetur enim error! Laboriosam, fugit!
          </p>
        </div>
      </div>
      <div class="work_tags">
        <ul>
          <li class="text-center bg-white bg-gradient" style="--bs-bg-opacity: .5;"><button class='btn btn--stripe'>HTTP</button></li>
          <li class="text-center bg-white"><button class='btn btn--stripe'>JavaScript</button></li>
          <li class="text-center bg-white"><button class='btn btn--stripe'>Angular</button></li>
          <li class="text-center bg-white"><button class='btn btn--stripe'>CSS</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- TEST SECOND WORK  -->
<div class="container-fluid work_done_background test_for_color">
  <div class="container d-flex work_done">
    <div class="container work_img ">
      <img src="../../../assets/thumb02.jpeg" alt="">
    </div>
    <div class="container work_main my-5">
      <div class="work_info">
        <div class="work_title">
          <H3> <strong>TITLE</strong></H3>
        </div>
        <div class="work_decr">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quos corrupti beatae cupiditate ad nulla quia a, tenetur culpa rerum perferendis voluptatum commodi, id harum sint ipsam enim consectetur assumenda!
          </p>
        </div>
      </div>
      <div class="work_tags">
        <ul>
          <li class="border border-dark rounded-pill text-center bg-white bg-gradient" style="--bs-bg-opacity: .5;">HTTP</li>
          <li class="border border-dark rounded-pill text-center bg-white">JavaScript</li>
          <li class="border border-dark rounded-pill text-center bg-white">Angular</li>
          <li class="border border-dark rounded-pill text-center bg-white">CSS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- TEST THIRD WORK -->
<div class="container-fluid work_done_background">
  <div class="container d-flex work_done">
    <div class="container work_img ">
      <img src="../../../assets/thumb05.jpeg" alt="">
    </div>
    <div class="container work_main my-5">
      <div class="work_info">
        <div class="work_title">
          <H3> <strong>TITLE</strong></H3>
        </div>
        <div class="work_decr">
          <p>


          </p>
        </div>
      </div>
      <div class="work_tags">
        <ul>
          <li class="border border-dark rounded-pill text-center bg-white bg-gradient" style="--bs-bg-opacity: .5;">HTTP</li>
          <li class="border border-dark rounded-pill text-center bg-white">JavaScript</li>
          <li class="border border-dark rounded-pill text-center bg-white">Angular</li>
          <li class="border border-dark rounded-pill text-center bg-white">CSS</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
