<app-header></app-header>
<!-- Welcome Banner -->
<div class="container-fluid banner">
  <div class="container banner_content">
    <div class="banner_logo slide-top">
      <img src="../../../assets/icons/Team success _Isometric.svg" alt="">
    </div>
    <div class="banner_info">
      <h1>We are proud of our Work!</h1>
    </div>
  </div>
</div>

<div id="myID" class="background_text hide">
  <span>OUR PROJECTS</span>
</div>

<!-- END of Welcome Banner -->
<div class="container-fluid work_done_background one">
  <div class="container d-flex work_done">
    <div class="container work_img ">
      <img src="../../../assets/thumb01.jpeg" alt="">
    </div>
    <div class="container work_main my-5">
      <div class="work_info">
        <div class="work_title">
          <H3> <strong>ARAUND BEELEN</strong></H3>
        </div>
        <div class="work_decr">
          <p>
          A perfect example how simple solutions offer elegant results. This was our first major project that really put our agency on the map ❤️.
          A stunning fashion blog that took us from first sketches to a finsihed product around 12 weeks.
          </p>
        </div>
      </div>
      <div class="work_tags">
        <ul>
          <!--TEST-->
          <button class="button-54" role="button">See for yourself</button>

          <!--ORIGINAL-->
         <!-- <li class="border border-light rounded-pill text-center bg-white" style="--bs-bg-opacity: .5;">HTTP</li>
          <li class="border border-light rounded-pill text-center bg-white">JavaScript</li>
          <li class="border border-light rounded-pill text-center bg-white">Angular</li>
          <li class="border border-light rounded-pill text-center bg-white">CSS</li> -->

        </ul>
      </div>
    </div>
  </div>
</div>
<!-- TEST SECOND WORK  -->
<div class="container-fluid work_done_background test_for_color">
  <div class="container d-flex work_done">
    <div class="container work_img ">
      <img src="../../../assets/thumb02.jpeg" alt="">
    </div>
    <div class="container work_main my-5">
      <div class="work_info">
        <div class="work_title">
          <H3> <strong>DEVELOPER</strong></H3>
        </div>
        <div class="work_decr">
          <p>
            Lets say you have a brilliant idea, but don't know where to start. Thats where our agency shines the most 😊. One of our specialists got contacted by a newcomer developer. He had many different ideas and approaches,
            but didn't quite know how to give them life (kinda anti-developer, I know), but when it comes to building your dreams into a reality, alot of people struggle with that part. So our consulting office brainstormed
            and managed to come up with a simple yet elegant solution. This shows that we can work with big corporations and with newcomers alike.
          </p>
        </div>
      </div>
      <div class="work_tags">
        <ul>
          <!--TEST 2-->
          <button class="button-53" role="button">THE DEVELOPER</button>

          <!--ORIGINAL STYLE-->
          <!--
          <li class="border border-light rounded-pill text-center bg-white">HTTP</li>
          <li class="border border-light rounded-pill text-center bg-white">JavaScript</li>
          <li class="border border-light rounded-pill text-center bg-white">Angular</li>
          <li class="border border-light rounded-pill text-center bg-white">CSS</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- TEST THIRD WORK -->
<div class="container-fluid work_done_background">
  <div class="container d-flex work_done">
    <div class="container work_img ">
      <img src="../../../assets/thumb05.jpeg" alt="">
    </div>
    <div class="container work_main my-5">
      <div class="work_info">
        <div class="work_title">
          <H3> <strong>DEAR DOWNLOAD</strong></H3>
        </div>
        <div class="work_decr">
          <p>
          Imagine a place where you have over 150 podcasts all on one page. Thats where <b>DEAR DOWNLOAD</b> comes in. Sounds great? You also can download your favourite episodes from your favourite creator and listen to them offline. Dashing!

          </p>
        </div>
      </div>
      <div class="work_tags">
        <ul>
          <button class="button-49" role="button">TAKE A LOOK</button>
          <!--ORIGINAL STYLINGS-->
          <!--
          <li class="border border-light rounded-pill text-center bg-white" style="--bs-bg-opacity: .5;">HTTP</li>
          <li class="border border-light rounded-pill text-center bg-white">JavaScript</li>
          <li class="border border-light rounded-pill text-center bg-white">Angular</li>
          <li class="border border-light rounded-pill text-center bg-white">CSS</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
