// Welcome Banner
.banner {
  display: flex;
  height: 75vh;
  background-image: linear-gradient(45deg ,blue, lightblue 60%);
}
.banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  .banner_logo {
    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }
  .banner_info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
}
// MEDIA QUERIES
@media only screen and (max-width: 576px) {
  .banner_content {
    flex-direction: column;
  }
}
// END OF Welcom Banner

// Styles for "Work Done" Banner
.work_done_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
// TEST FOR DESIGN - TO BE DELETED LATER
.test_for_color {
  // background-image: linear-gradient(0deg ,blue, lightblue 60%);
  background-color: lightblue;
}
.work_done {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
}
.work_img {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 0 30px black;
  }
}
.work_main {
  display: flex;
}
.work_info {
  width: 75%;
}
.work_tags {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      padding: 5px 10px 5px;
      margin: .5vw;
    }
  }
}
@media only screen and (max-width: 576px) {
  .work_info {
    width: fit-content;
  }
  .work_main {
    flex-direction: column;
  }
  .work_tags {
    ul {
      padding-left: 0;
    }
  }
}
// END OF Styles for "Work Done" Banner
