<!-- Form for client messages -->
<div data-aos="zoom-in" class="container-fluid form_banner ">
  <div class="container my-5 form_banner_container py-5">
    <div class="form_header text-center">
      <H3>
        CONTACT US:
      </H3>
    </div>
    <form action="https://formsubmit.co/friik95@@email.com" method="POST">
      <div class="mb-3">
        <label class="form-label" for="name">Name*</label>
        <input class="form-control" type="text" name="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email*</label>
        <input class="form-control" type="email" name="email" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="text">Message</label>
        <input class="form-control" type="text" name="message" id="message" required>
      </div>
      <div class="submit_button d-flex justify-content-center my-5">
        <button type="submit" class="btn btn-dark ">Send</button>
      </div>
  </form>
  </div>
</div>
