 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
 <body>
   <div class="container-fluid p-0 d-flex flex-column align-items-center">
    <div class="header d-flex justify-content-center py-3">
      <a routerLink="/home">DEZIGNEST</a>
    </div>
    <div class="container-fluid bg_img align-items-center py-5 h-100">

      <!-- <form ngNoForm action="https://getform.io/f/3cde2798-3063-495e-80c6-193189a60841" method="post" target="_blank" #applyForm="ngForm" class="col d-flex flex-column p-sm-5" (ngSubmit)="onSubmit()" >
      <div class="form_info d-flex flex-column align-items-center">
        <h2>Apply to sell on Dezignest</h2>
        <p>TEST</p>
        <div class="paragraph text-center">
          <p>Tell us a little bit about your brand. We'll use this information when we review your application.</p>
        </div>
      </div>
        <label for="firstName" class="form-label">First Name</label>
        <input class="border border-secondary rounded-1" #firstname="ngModel" ngModel required type="text" name="firstName" id="firstName" />
        <span *ngIf="firstname.invalid && firstname.touched" style="color: red;">First name required</span>

        <label for="lastName" class="form-label">Last Name</label>
        <input class="border border-secondary rounded-1" #lastname="ngModel" ngModel required type="text" name="lastName" id="lastName" />
        <span *ngIf="lastname.invalid && lastname.touched" style="color: red;">Last name required</span>

        <label for="email" class="form-label">Email</label>
        <input class="border border-secondary rounded-1" #email="ngModel" ngModel required type="email" name="email" id="email" />
        <span *ngIf="email.invalid && email.touched" style="color: red;">Email required</span>

        <label for="brand" class="form-label">Brand Name</label>
        <input class="border border-secondary rounded-1" #brand="ngModel" ngModel required type="text" name="brand" id="brand" />
        <span *ngIf="brand.invalid && brand.touched" style="color: red;">Brand name required</span>

        <label for="website" class="form-label">Website</label>
        <input class="border border-secondary rounded-1" #web="ngModel" ngModel required type="url" name="website" id="website" />
        <span *ngIf="web.invalid && web.touched" style="color: red;">Website required</span>

        <label for="category" class="form-label">Category</label>
        <select class="form-select form-select-sm border border-secondary rounded-1" #category="ngModel" ngModel required name="category" aria-label="Default selected example">
          <!- <option disabled selected >Open this select menu</option> -->
          <!-- <option value="" disabled>Please Choose...</option>
          <option *ngFor="let category of categories" [value]="category">{{category | titlecase}}</option>
        </select>
        <span *ngIf="category.invalid && category.touched" style="color: red;">Category Required</span>

        <label for="country" class="form-label">Country</label>
        <input class="border border-secondary rounded-1" #country="ngModel" ngModel required type="text" name="country" id="country" />
        <span *ngIf="country.invalid && country.touched" style="color: red;">Country Required</span>

        <button class="mt-4 btn btn-secondary" type="submit" [disabled]="applyForm.invalid">Submit</button>
      </form> -->
      <div class="container-fluid d-flex flex-column px-sm-5">
        <div class="form_info d-flex flex-column align-items-center text-light">
          <h2 class="bg-dark"><strong> Apply to sell on Dezignest</strong></h2>
          <div class="paragraph text-center py-3">
          <p class="bg-dark fc-black px-4">Tell us a little bit about your brand.</p>
          </div>
        </div>
        <div class="d-flex justify-content-center w-100 py-4">
          <form ngNoForm action="https://formsubmit.co/friik95@gmail.com" method="POST" class="form-control d-flex flex-column p-sm-5">
            <label for="firstName">First Name</label>
            <input class="my-2 border" type="text" name="firstName" required placeholder="">
            <label for="lastName">Last Name</label>
            <input class="my-2 border"type="text" name="lastName" required placeholder="">
            <label for="email">Email</label>
            <input class="my-2 border"type="email" name="email" required placeholder="">
            <label for="brand">Brand</label>
            <input class="my-2 border"type="text" name="brand" required placeholder="">
            <label for="website">Website</label>
            <input class="my-2 border"type="text" name="website" required placeholder="">
            <label for="country">Country</label>
            <input class="my-2 border"type="text" name="country" required placeholder="">
            <label for="category">Category</label>
            <select class="my-2 border form-select form-select-sm border rounded-1" #category="ngModel" ngModel required name="category" aria-label="Default selected example">
              <!-- <option disabled selected >Open this select menu</option> -->
              <option value="" disabled>Please Choose...</option>
              <option *ngFor="let category of categories" [value]="category">{{category | titlecase}}</option>
            </select>
            <button class="my-2 btn btn-dark" type="submit">Send</button>
          </form>
        </div>

      </div>
    </div>
  </div>
 </body>

