<app-header-new></app-header-new>
<div class="container-fluid">
   <!-- Breadcrumb  -->
   <div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{brandName}}</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="text-center">
      <h3>{{brandName}}</h3>
      <p>{{brandName.description}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
