/*GLOBAL STYLES*/

  body {
    margin: 0;
    padding: 0;
  }


/*MAIN CONTENT STYLES*/
// BANNER STYLES
  .banner {
    display: flex;
    align-items: center;
    height: 75vh;
    background-image: linear-gradient(45deg ,blue, lightblue 60%);
  }
  .banner_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
/*TEAMMATE STYLES*/
  .teammates {
    text-align: center;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
  }


  .teammates img {
  border: 1px solid black;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 10px 10px;
  }

  .teammate1 {
    border: 1px solid black;
  }


  .teammate2 {
    border: 1px solid black;
  }



/*BANNER/TEAMMATE MEDIA QUERY*/
@media only screen and (max-width: 767px) {
  // .banner h1 {
  //   font-size: 30px;
  // }

  // .banner p {
  //   display: none;
  // }

  // .banner a {
  //   padding: 5px 15px;
  // }

  .teammates {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  .banner_content {
    flex-direction: column;
  }
}

