


// BANNER STYLES
.banner {
  display: flex;
  align-items: center;
  height: 75vh;
  background-color: rgba(220,20,60,.8);
}
.banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  .banner_logo {
    display: flex;
    height: 100%;
    img {
      width: 100%;
      max-width: 800px;
      height: auto;
    }
  }
  .banner_info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
}



/*TEAMMATE STYLES*/
.teammate-image {
  margin: auto;
  width: 100%;
}
/*TEAMMATE DESCPRITON*/
#teammate-info {
  font-size: 1.3rem;
}


/*BANNER/TEAMMATE MEDIA QUERY*/
@media only screen and (max-width: 767px) {
// .banner h1 {
//   font-size: 30px;
// }

// .banner p {
//   display: none;
// }

// .banner a {
//   padding: 5px 15px;
// }

}
@media only screen and (max-width: 576px) {
.banner_content {
  flex-direction: column;
 }
}
@media only screen and (min-width: 577px) {
  .banner_content {
    height: 50vh;
   }
  }

