<app-header></app-header>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>
<body>

<!-- Top Banner -->
  <div class="container-fluid banner">
    <div class="container banner_content">
      <div class="banner_logo">
        <img src="../../../assets/icons/Team work_Isometric (1).svg" alt="">
      </div>
      <div class="banner_info">
        <h3>Meet Our Team</h3>
      </div>
    </div>
  </div>

    <div class="about-section">
      <h1>Our Superstars</h1>
      <p></p>
    </div>
  <!--TEAMMATE SECTION-->
  <div class="row">
    <div class="teammate-column">
      <div class="teammate-card">
        <img src="../../../assets/icons/CEO_Outline.svg" alt="CEO" style="width:100%">
        <div class="teammate-container">
          <h2>John Smith</h2>
          <p class="teammate-title">CEO & Founder</p>
          <p>John has commited his entire life building up this agency. Has a keen eye for upcoming talent and is very involved in the day-to-day tasks.</p>
          <p>smith@example.com</p>
        </div>
      </div>
    </div>

    <div class="teammate-column">
      <div class="teammate-card">
        <img src="../../../assets/icons/Online presentation_Outline.svg" alt="Director" style="width:100%">
        <div class="teammate-container">
          <h2>John Doe</h2>
          <p class="teammate-title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
        </div>
      </div>
    </div>

    <div class="teammate-column">
      <div class="teammate-card">
        <img src="../../../assets/icons/Designer _Outline.svg" alt="Designer" style="width:100%">
        <div class="teammate-container">
          <h2>Jane Doe</h2>
          <p class="teammate-title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
        </div>
      </div>
    </div>
  </div>

  <!--TEAMMATE SECTION END-->


<!--OUR GOALS SECTION-->

<div class="about-section">
  <h1>What We Offer</h1>
  <p></p>
</div>

  <div class="row">
    <div class="goal-column">
      <div class="goal-card">
        <img src="../../../assets/icons/Team work_Outline.svg" alt="Team Work" style="width: 100%;">
      <div class="goal-container">
        <h2>TeamWork</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reiciendis consequuntur dolores.</p>
      </div>
      </div>
    </div>

    <div class="goal-column">
      <div class="goal-card">
        <img src="../../../assets/icons/Piggy Bank_Outline.svg" alt="Piggy Bank" style="width: 100%;">
      <div class="goal-container">
        <h2>Flexible Pricing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reiciendis consequuntur dolores.</p>
      </div>
      </div>
    </div>

    <div class="goal-column">
      <div class="goal-card">
        <img src=".././../../assets/icons/Transaction _Flatline.svg" alt="Transaction" style="width: 100%;">
      <div class="goal-container">
        <h2>Quality Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reiciendis consequuntur dolores.</p>
      </div>
      </div>
    </div>

  </div>
<!---OUR GOALS SECTION END-->


</body>
</html>


<app-footer></app-footer>
