<app-header></app-header>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>
<body>

<!-- Top Banner -->
  <div class="container-fluid banner">
    <div class="container banner_content">
      <div class="banner_logo mx-5">
        <img src="../../../assets/icons/Team work_Isometric (1).svg" width="300px" alt="">
      </div>
      <div class="banner_info">
        <h3>Meet Our Team</h3>
      </div>
    </div>
  </div>


    <h2 class='introduction'>Our Team of Superstars</h2>
  <!--TEAMMATE SECTION-->
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/icons/CEO_Outline.svg" alt="CEO" style="width:100%">
        <div class="container">
          <h2>John Smith</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>bender@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../../assets/icons/Online presentation_Outline.svg" alt="Director" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>bender2@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../../assets/icons/Designer _Outline.svg" alt="Designer" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>bender3@example.com</p>
        </div>
      </div>
    </div>
  </div>

  <!--TEAMMATE SECTION END-->


<!--ABOUT US SECTION-->
<div class="about-section">
  <h1>Our Mission</h1>
  <p></p>
</div>
<!---ABOUT US SECTION END-->


</body>
</html>


<app-footer></app-footer>
