<app-header></app-header>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>
<body>

<!-- Top Banner -->
  <div class="container-fluid banner">
    <div class="container banner_content">
      <div class="banner_logo">
        <img src="../../../assets/icons/Team work_Isometric (1).svg" alt="">
      </div>
      <div class="banner_info">
        <h3>Meet Our Team</h3>
      </div>
    </div>
  </div>


<!--TEAMMATE SECTION-->
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img class='teammate-image' src="../../../assets/icons/CEO_Outline.svg" alt="">
          <h1 class='text-center'>John Smith</h1>
          <p class='text-center'>PLACEHOLDER TEXT GOES HERE</p>
        </div>
        <div class="col-sm-4">
          <img class='teammate-image' src="../../../assets/icons/Online presentation_Outline.svg" alt="">
          <h1 class='text-center'>John Doe</h1>
          <p class='text-center'>PLACEHOLDER TEXT GOES HERE</p>
        </div>
        <div class="col-sm-4">
          <img class='teammate-image' src="../../../assets/icons/Designer _Outline.svg" alt="">
          <h1 class='text-center'>Jane Smith</h1>
          <p class='text-center'>PLACEHOLDER TEXT GOES HERE</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>


<app-footer></app-footer>
