
.footer_top {
  ul {
    list-style-type: none;
    li {
      font-size: 1.35rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .footer_top {
    strong {
      width: 100vw;
      border-bottom: 1px solid gainsboro;

    }
  }
  .footer_bottom {
    justify-content: center;
    font-size: 12px;
    .separation {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
