<footer>
  <div class="container-fluid border-top border-light border-1 pt-3 bg-light">
    <div class="footer_top d-lg-flex d-md-flex d-sm-flex">
      <ul class="dropdown">
        <li><strong>Company</strong></li>
        <li>About Us</li>
        <li>Newsroom</li>
        <li>Careers</li>
        <li>Partnerships</li>
      </ul>
      <ul>
        <li><strong>Support</strong></li>
        <li>Help Center</li>
        <li>Markets</li>
        <li>Apply to Sell</li>
      </ul>
      <ul>
        <li><strong>Connect</strong></li>
        <li>Blog</li>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Twitter</li>
      </ul>
    </div>
    <div class="footer_bottom d-flex justify-content-lg-center justify-content-md-center justify-content-sm-center">
      <p>©2021 Disainest, Inc.</p>
      <p class="separation mx-lg-4 mx-md-2 mx-sm-1 ">|</p>
      <p>Terms & Conditions</p>
      <p class="separation mx-lg-4 mx-md-2 mx-sm-1">|</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</footer>
