<app-header></app-header>
<!-- Banner with picture saying Contact us or smt -->
<div class="container-fluid banner">
  <div class="container banner_content">
    <div class="banner_logo">
      <img src="../../../assets/icons/Content creation_Isometric.svg" width="300px" alt="">
    </div>
    <div class="banner_info">
      <h3 class="text-center">We are Here to help you get started.</h3>
    </div>
  </div>
</div>
<!-- Information about how to get in touch with us -->
<div class="container infoBanner my-5 d-lg-flex">
  <div class="infoTab ">
    <h3>HOW TO FIND US:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim maxime neque voluptatibus asperiores, magni explicabo veniam accusamus voluptatem magnam nostrum commodi unde voluptas quaerat, adipisci nisi? Facere ullam odio commodi, aliquam officia nesciunt molestias doloremque sint sapiente vitae fugiat facilis veritatis, perspiciatis iste maiores quisquam itaque, autem ducimus quasi blanditiis!</p>
  </div>

  <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8117.324231128954!2d24.722554083018164!3d59.427552955870226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692948fde3b8a47%3A0xef96bccec582c1ea!2sParkla%2C%20Tallinn!5e0!3m2!1set!2see!4v1641720773929!5m2!1set!2see" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
</div>
<!-- Form for client messages -->
<div class="container my-5">
  <div class="form_header text-center">
    <H3>
      CONTACT US:
    </H3>
  </div>
  <form action="https://formsubmit.co/friik95@@email.com" method="POST">
    <div class="mb-3">
      <label class="form-label" for="name">Name*</label>
      <input class="form-control" type="text" name="name" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">Email*</label>
      <input class="form-control" type="email" name="email" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="text">Message</label>
      <input class="form-control" type="text" name="message" id="message" required>
    </div>
    <div class="submit_button d-flex justify-content-center mb-3">
      <button type="submit" class="btn btn-dark ">Send</button>
    </div>
</form>
</div>
<app-footer></app-footer>
