<app-header></app-header>
<!-- Banner with picture saying Contact us or smt -->
<div class="container-fluid banner">
  <div class="container banner_content">
    <div class="banner_logo">
      <img src="../../../assets/icons/Content creation_Isometric.svg" alt="">
    </div>
    <div class="banner_info">
      <h3 class="text-center">We are Here to help you get started.</h3>
    </div>
  </div>
</div>
<!-- Information about how to get in touch with us -->
<div class="container infoBanner my-5 d-lg-flex">
  <div class="infoTab my-5">
    <h3 class="mb-5">HOW TO FIND US:</h3>
    <article class="text-start">
      <p class='office-info' >If you're spending over 40 hours a week in a single location, shouldn't you at least be comfortable? Our offices are often our homes away from home, and a good office environment can help employees stay engaged, productive and happy throughout the day.
      </p>
      <p class='office-info'>
        We are a creative agency, so we looked at the redesign of our space as an oppurtunity to provide inspiration --even in often overlooked areas like hallways and meeting room walls. Our favorite parts are the small details that you sometimes don't even notice right away.
        We usually have atleast +10 people in the office at any given time. So feel free to drop by and lets see if we can grow <b>your idea</b> into a reality.
      </p>
    </article>
  </div>
  <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8117.324231128954!2d24.722554083018164!3d59.427552955870226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692948fde3b8a47%3A0xef96bccec582c1ea!2sParkla%2C%20Tallinn!5e0!3m2!1set!2see!4v1641720773929!5m2!1set!2see" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
</div>


<!--NOT SHOWING SLDES UNDER 800px screen width-->
<div class="container-fluid">
  <div class="container d-md-flex justify-content-center">
    <div class="contaniner d-flex flex-column justify-content-end align-items-start">
      <div class="contact-info d-flex">
        <h3 class="">Contact Info:</h3>
      </div>
      <div class="contact_info_content">
        <ul>
          <li><strong>Email:</strong> info@bwa.com</li>
          <li><strong>Address:</strong> Tulika 100, Tallinn Estonia</li>
          <li><strong>Phone:</strong> +372 50 50 5555</li>
        </ul>
      </div>
    </div>

    <div class="container d-sm-none d-md-flex">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1497366216548-37526070297c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1431540015161-0bf868a2d407?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-50" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Form for client messages -->
<app-contact-form></app-contact-form>
<!-- Footer -->
<app-footer></app-footer>
