.banner {
  display: flex;
  align-items: center;
  height: 75vh;
  background-size: cover;
  background-color: rgba(220,20,60,.8);
}
.banner_logo {
  display: flex;
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

.office-info {
  font-size: 1.3rem;
}

.carousel-inner img {
  margin: auto;
}

// Small Screen <= 576px
@media only screen and (max-width: 772px){
  .banner_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
  }
  .infoBanner {
    display: flex;
    flex-direction: column;
  }
  .map, .infoTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoTab {
    text-align: center;
    padding: 12px;
    margin: 8px;
  }
}

@media only screen and (min-width: 773px) {
  .banner_info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_content {
    display: flex;
    justify-content: center;
  }
  .infoBanner {
    display: flex;
    justify-content: space-between;
  }
  .infoTab {
    width: 50vw;
    margin-right: 12px;
    padding: 12px;
  }
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (max-width: 800px) {
  #carouselExampleSlidesOnly {
    display: none;
  }
}
