<app-header></app-header>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ Section</title>
</head>
<body>

  <!--MAIN BANNER SECTION-->
  <div class="container-fluid banner">
    <div class="container banner_content">
      <div class="banner_logo">
        <img src="../../../assets/icons/Online research_Isometric.svg" alt="">
      </div>
      <div class="banner_info">
        <h1>Our FAQ section</h1>
      </div>
    </div>
  </div>


  <!--FAQ SECTION-->
  <div class='faq-container'>
  <div class="accordion accordion-flush p-4" id="accordionFlushExample">
    <div class="accordion-item p-3">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          How long does it take to build a website?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Depends on what you need. It takes longer to build a 1000 page megasite than a smaller eight page brochure website.</div>
      </div>
    </div>
    <div class="accordion-item p-3">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          What size companies do you produce web designs for?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">We're just as keen to work with small businesses as we are large ones, and as a growing organization ourselves, we understand the needs of other growing companies.</div>
      </div>
    </div>
    <div class="accordion-item p-3">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Do you work internationally?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Of course! With the help of Zoom, Slack, Skype, just to name a few, it makes working anywhere in the world easy enough.</div>
      </div>
    </div>
      <div class="accordion-item p-3">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Do you redesign existing websites?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">It's important to approach this subject sensitively to make sure your reasons for redesigning are valid. This will ensure the overall success of the project. Or to put it shortly, yes we do! </div>
        </div>
      </div>
      <div class="accordion-item p-3">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Do you offer ongoing help with our new site once it's launched?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">If you need our help, we'll be here for you. If not, we will leave you to it, and if you happen to change your mind later on, we'll still be here for you.</div>
        </div>
      </div>
      <div class="accordion-item p-3">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Will my website work on smart phones and tablets aswell?
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Ofcourse! It's no secret that more people are accessing the web via small screens than ever, and the trend is likely to carry on. And lets be honest, if your site doesn't work/display properly on a mobile/tablet screen, that carries a risk losing a big chunk of your potential audience. So <a href='https://www.studiopress.com/beginners-guide-responsive-design/'>mobile responsive web design</a> is essential. Keeping that in mind, every site we create is mobile responsive.</div>
        </div>
      </div>
      <div class="accordion-item p-3">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Can you help me with my social media?
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Afraid not. We specialise in web design. We've been keen to avoid becoming a "jack of all" kind of agency. If you are after one of those, we're not the right fit for you!</div>
        </div>
      </div>
      <div class="accordion-item p-3">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Can you help me rank high in Google?
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">A page one position in the Google search results is like gold dust. Not so long ago it was quite easy, but these days it's a lot more challenging. Thankfully we have all the SEO tools and know-how to maximise your chances.</div>
        </div>
      </div>
      <div class="accordion-item p-3">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            How much does a website cost?
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">The age-old question! It completely depends on what you need, but you can rest easy knowing that we deliver the best possible value for money and it won't break the bank.</div>
        </div>
      </div>
      <div class="accordion-item p-3">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            What are the payment terms for the design and development of my website?
          </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">We like to work on a 30% upfront basis with 30% payable after the designs are agreed and the outstanding 40% payable when the development has been completed and signed off.</div>
        </div>
      </div>
    </div>
    </div>
  <!--MAIN CONTENT END-->


  <!--FAQ JUMBOTRON START-->
  <div class="py-5 bg-transparent text-center w-100">
    <h1 editable="inline" class="display-1">how could we help <b>you</b>?</h1>
    <div editable="rich">
      <p class="lead">If you werent able to find answers for your questions from the FAQ section. Feel free to drop us a message with details. We usually answer any inquiries regarding a project within 2 business days.</p>
      <p class='lead'><b>www.bestweb@gmail.com</b></p>
    </div>
  </div>
  <!--FAQ JUMBOTRON END-->



</body>
</html>
















<app-footer></app-footer>
