/*GLOBAL STYLES*/

* {
  box-sizing: border-box;
}


/*BANNER STYLES*/

.banner {
  display: flex;
  align-items: center;
  height: 75vh;
  background-color:  rgba(220,20,60,.8);
}
.banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  .banner_logo {
    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }
}


/*FAQ SECTION STYLES*/

.faq-container {
  border-width: medium;
  margin: auto;
  vertical-align: middle;
}

.accordion-header {
  border-left: 5px solid red;
}

.accordion-body {
  background: rgb(236, 236, 206);
}

.accordion-button, .accordion-body {
  font-size: 1.5rem;
}

