<div class="container-fluid d-flex flex-column align-items-center pb-4">
  <!-- Breadcrumb  -->
  <div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Brands</li>
      </ol>
    </nav>
  </div>
  <!-- Information banner -->
  <div class="info_banner_container ">
    <div class="info_banner d-flex flex-column align-items-center">
      <h4>See the new staff</h4>
      <p class="">Shop thousands of unique wholesale brands. Free returns on all opening orders.</p>
    </div>
  </div>
  <div class="container-md d-grid">
    <div class="row row-cols-2 justify-content-center py-3">
      <div *ngFor="let product of products " class="card col d-flex px-0 border border-gray" style="width: 10rem;">
        <img [src]="product.coverImg" [routerLink]="['/products', product.id]" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body d-flex flex-column align-items-start p-1">
          <p class="title m-0">{{product.title}}</p>
          <!-- <p class="card-text">{{product.description}}</p> -->
          <div class="card_lower d-flex flex-column">
            <p class="text-center m-0">{{product.brand}}</p>
            <p class="card-text"><strong>{{product.price | currency: 'EUR' }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


