.navbar {
  display: flex;
  flex-direction: column;
  background-color: white;
}





@media only screen and (min-width: 992px) {
  .lower_menu_lg {
    li:hover {
      border-bottom: 1px solid black;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .lower_bar {
    padding-left: 12vw;
    padding-right: 12vw;
  }
  .upper_span {
    li {
      margin-right: 1vw;
    }
    li:hover {
      cursor: pointer;
      border-bottom: 1px solid white;
    }
  }
  .collapse {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 38px;
      margin-left: auto;
      // margin-top: 10px;
      li {
        margin: none !important;
        font-size: 14px;
      }
    }
  }
  .form_control {
    width: 35vw;
    max-width: 1000px;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    margin-right: 0 !important;
    // margin-left: auto;

  }
}
@media only screen and (max-width: 768px) {
  .container-fluid {
    justify-content: space-between;
  }
}
