<div class="container-fluid shopBy_banner">
  <div class="container d-flex flex-column align-items-center my-5">
    <h5>SHOP BY</h5>
    <div class="grid row image_buttons mx-auto">
      <div routerLink="/category/Home Decor" class="grid_one col d-flex justify-content-center img_one m-1">
        <p class="mb-0">THE GIFT SHOP</p>
      </div>
      <div routerLink="/category/New" class="grid_two col d-flex justify-content-center img_one m-1 ">
        <p class="mb-0">NEW ARRIVAL</p>
      </div>
      <div routerLink="/category/Men" class="grid_three col d-flex justify-content-center img_one m-1">
        <p class="mb-0">BLACK FRIDAY</p>
      </div>
      <div routerLink="/category/Women" class="grid_four col d-flex justify-content-center img_one m-1">
        <p class="mb-0">ON SALE</p>
      </div>
    </div>
  </div>
</div>
