<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Best Web Agency</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/about">About Us</a>
        <a class="nav-link" routerLink="/contact">Contact Us</a>
        <a class="nav-link" routerLink="/work">Work</a>
        <a class="nav-link" routerLink="/faq">FAQ</a>
      </div>
    </div>
  </div>
</nav>
